language: python
python:
- '2.7'
install: pip install -r requirements.txt;export DJANGO_SETTINGS_MODULE=project_curiocity.settings.local
script: python manage.py test
deploy:
  provider: heroku
  api_key:
    secure: YCkw2gOLfd3Li7LDWqSSIYsWqHKgO4XG4UuUi4hcC6Jj6RIQ7Ed8Xo/bauG1K13UfdOPu2zjuP8jUZbK2sEB0fntDdEjzirJSIbXBhv9PHsC49e1/tYFfWl0QjtlTlwhkX5YO3457QUl2ZIxNo+/9wzaD9yIrofbcI/+M5e/PFs=
  app: p-curiocity
  on:
    repo: vikassy/curiocity-test
